
.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 20rem;
    width: 23rem;
    background-color: rgb(230, 230, 220);
    border-radius: 1rem;
    box-shadow: 2px 2px 3px rgb(196, 211, 225);
    top: 35%;
    left: 40%;
    padding-top: -1rem;

    


}

.giris {
    position: relative;
    width: 20rem;
    height: 2rem;
    background-color: aliceblue;
    border: 1px solid gray;
    outline: none;
    bottom: .8rem;

   
}

.title {
    font-weight: 300;
}

.table {
   
    margin-bottom: 1rem;
}
.table tr {
   
  
}
.table td {
 position: relative;
  padding-left: 3rem;
  right: 1.8rem;
 
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
position: relative;
left: 10.4rem;
top: .5rem;

}